Django==5.2.*

djangorestframework

djangorestframework-simplejwt

drf-spectacular

django-filter

python-dotenv

psycopg[binary]

redis

gunicorn

pytest

python-json-logger

factory-boy

django-cors-headers

pytest-django
